# cmd/cli/ & cmd/gui/
cmd/**/build/
cmd/**/sample/*
!cmd/**/sample/priv.key
!cmd/**/sample/PUB.KEY
!cmd/**/sample/message.txt
!cmd/**/sample/CIPHER.TXT
!cmd/**/sample/message_decrypted.txt

test/*
!test/*.go
