cmd/cli/build/
cmd/cli/sample/secure_transfer_cli
cmd/cli/sample/secure_transfer_cli.exe
cmd/cli/sample/log.log

cmd/gui/build/
cmd/gui/sample/secure_transfer_gui
cmd/gui/sample/secure_transfer_gui.exe
cmd/gui/sample/log.log

utils/log/log.log
